.container {display: flex;}
.row {
  flex-direction: row;
  display: flex;
}
.wall {background-color: blue;}
.mazeBlock {
  width: 25px;
  height: 25px;
}
.open {
  /* border: 1px solid black; */
}

.cursor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
}

.storageLocation {
  background-color: burlywood;
  border-radius: 50%
}

.crate {
  background-color: rgb(216, 21, 21);
  z-index: 1;
}

.filledLocation {
  background-color: rgb(119, 41, 41);
  z-index: 3; 
}